<form ng-submit="form.submit()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="form.cancel()" aria-hidden="true">×</button>
    <h3 class="modal-title">Contate-nos!</h3>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" id="name" class="form-control" ng-model="form.name" placeholder="Miguel Oliveira">
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" id="email" class="form-control" ng-model="form.email" placeholder="seu@email.com">
      </div>
      <div class="form-group">
        <label for="subject">Assunto</label>
        <input type="text" id="subject" class="form-control" ng-model="form.subject" placeholder="Assunto...">
      </div>
      <div class="form-group">
        <label for="message">Mensagem</label>
        <textarea id="message" class="form-control vresize" rows="6" ng-model="form.message" placeholder="Sua mensagem.."></textarea>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="form.cancel()">Cancelar</button>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </div>
</form>
