<footer class="bg-primary">
  <div class="container">
    <div class="text-center">
      <span class="logo-ent" title="Espaço Novo Tempo"></span>
      <h4><strong>Espaço Novo Tempo</strong>
      </h4>
      <p>Av. Senador Salgado Filho, 961-A<br>Guabirotuba - Curitiba, PR</p>
      <br>
      <ul class="list-inline">
        <li>
          <a href="https://www.facebook.com/espaconovotempocuritiba">
            <i class="fa fa-facebook fa-fw fa-3x"></i>
          </a>
        </li>
      </ul>
      <hr class="small">
      <p class="text-muted">Copyright &copy; 2015 Espaço Novo Tempo Curitiba</p>
    </div>
  </div>
</footer>
