footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 40px 0;
  height: 390px;
  margin-bottom: -390px;

  a {
    color: #ffffff;
  }

  a:focus,
  a:hover {
    color: #ffffff;
  }

  .list-inline {
    a:focus,
    a:hover {
      text-shadow: #fff 0px 0px 3px;
    }
  }

  .logo-ent {
    font-size: 92px;
  }
}
