footer {
  padding: 40px 0;

  a {
    color: #ffffff;
  }

  a:focus,
  a:hover {
    color: #ffffff;
  }

  .list-inline {
    a:focus,
    a:hover {
      text-shadow: #fff 0px 0px 3px;
    }
  }

  .logo-ent {
    font-size: 92px;
  }
}
