<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
              <img alt="IASD" src="/assets/images/iasd.png">
          </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="#/conheca">Conheça<span class="sr-only"> (current)</span></a>
              </li>
              <li dropdown>
                  <a href="#/projetos" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#/projetos/amm">AMM</a></li>
                      <li><a href="#/projetos/desbravadores">Desbravadores</a></li>
                      <li><a href="#/projetos/jovem">Jovem</a></li>
                      <li><a href="#/projetos/lar_e_familia">Lar e Família</a></li>
                      <li><a href="#/projetos/mulher">Mulher</a></li>
                      <li><a href="#/projetos/musica">Dádiva Coral</a></li>
                      <li><a href="#/projetos/codigo_aberto">Código Aberto</a></li>
                      <li><a href="#/projetos/eai">E@I?!</a></li>
                      <li><a href="#/projetos/esta_escrito">Está Escrito</a></li>
                  </ul>
              </li>
              <li dropdown>
                  <a href="#/cursos" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Cursos <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                      <li><a href="#/cursos/fotografia">Fotografia</a></li>
                      <li><a href="#/cursos/hebraico">Hebraico</a></li>
                      <li><a href="#/cursos/ingles">Inglês</a></li>
                  </ul>
              </li>
              <li><a href="#/contato">Entre em Contato</a></li>
              <li><a href="#/localizacao">Localização</a></li>
          </ul>
      </div>
  </div>
</nav>