<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-collapse" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <span class="logo-iasd-wide" title="Igreja Adventista do Sétimo Dia"></span>
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li du-scrollspy="about">
          <a href="#about" du-smooth-scroll>Conheça</a>
        </li>
        <li dropdown>
          <a href="#/projetos" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/projetos/amm">AMM</a></li>
            <li><a href="#/projetos/desbravadores">Desbravadores</a></li>
            <li><a href="#/projetos/jovem">Jovem</a></li>
            <li><a href="#/projetos/lar_e_familia">Lar e Família</a></li>
            <li><a href="#/projetos/mulher">Mulher</a></li>
            <li><a href="#/projetos/musica">Dádiva Coral</a></li>
            <li><a href="#/projetos/codigo_aberto">Código Aberto</a></li>
            <li><a href="#/projetos/eai">E@I?!</a></li>
            <li><a href="#/projetos/esta_escrito">Está Escrito</a></li>
          </ul>
        </li>
        <li dropdown>
          <a href="#/cursos" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Cursos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#/cursos/fotografia">Fotografia</a></li>
            <li><a href="#/cursos/hebraico">Hebraico</a></li>
            <li><a href="#/cursos/ingles">Inglês</a></li>
          </ul>
        </li>
        <li du-scrollspy="schedule">
          <a href="#schedule" du-smooth-scroll>Agenda</a>
        </li>
        <li du-scrollspy="contact">
          <a href="#contact" du-smooth-scroll>Entre em Contato</a>
        </li>
        <li du-scrollspy="location">
          <a href="#location" du-smooth-scroll>Localização</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
