.navbar-default {
  background-color: rgba(0, 0, 0, 0.4);
  /*border-color: rgba(0, 0, 0, 0.2);*/
  border: none;
  box-shadow: 0px 1px 4px #333;
  font-size: 13px;

  transition: background-color 0.5s ease;

  &.active {
    background-color: rgb(41, 87, 164);
  }

  &.always-active {
    background-color: rgb(41, 87, 164);
  }

  .navbar-brand {
    font-size: 42px;
    margin-top: -10px;
    color: #ffffff;

    &:focus,
    &:hover {
      color: #ffffff;
      text-shadow: #fff 0px 0px 3px;
    }
  }

  .navbar-nav > li {
    > a {
      color: #ffffff;

      &:focus,
      &:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

    &.active {
      > a,
      > a:focus,
      > a:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.2);
        cursor: default;
      }
    }

    &.open {
      > a,
      > a:focus,
      > a:hover {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .navbar-toggle {
    background-color: rgba(0,0,0,0.2);

    &:focus,
    &:hover {
      background-color: rgba(0,0,0,0.7);
    }

    .icon-bar {
      background-color: #dddddd;
    }
  }
}
