.navbar-default {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.2);
    font-size: 13px;

    .navbar-brand {
        color: #ffffff;

        > img {
            margin-top: -12px;
        }
    }

    .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-nav > li.active > a {
        color: #ffffff;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .navbar-toggle {
        background-color: rgba(0,0,0,0.2);

        &:focus,
        &:hover {
            background-color: rgba(0,0,0,0.7);
        }

        .icon-bar {
            background-color: #dddddd;
        }
    }
}