<nav class="navbar navbar-default navbar-fixed-top" ng-class="{ 'always-active': !isHome() }">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navbarCollapsed = !navbarCollapsed" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">
        <span class="logo-ent" title="Espaço Novo Tempo"></span>
      </a>
    </div>

    <div class="navbar-collapse" ng-class="{ 'collapse': navbarCollapsed }">
      <ul class="nav navbar-nav navbar-right">
        <li du-scrollspy="conheca">
          <a href="/#conheca" du-smooth-scroll>Conheça</a>
        </li>
        <!-- <li dropdown>
          <a href="#" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Projetos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/amm">AMM</a></li>
            <li><a href="/desbravadores">Desbravadores</a></li>
            <li><a href="/jovem">Jovem</a></li>
            <li><a href="/lar_e_familia">Lar e Família</a></li>
            <li><a href="/mulher">Mulher</a></li>
            <li><a href="/musica">Dádiva Coral</a></li>
            <li><a href="/codigo_aberto">Código Aberto</a></li>
            <li><a href="/eai">E@I?!</a></li>
            <li><a href="/esta_escrito">Está Escrito</a></li>
          </ul>
        </li> -->
        <!-- <li dropdown>
          <a href="#" dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">Cursos <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/fotografia">Fotografia</a></li>
            <li><a href="/hebraico">Hebraico</a></li>
            <li><a href="/ingles">Inglês</a></li>
          </ul>
        </li> -->
        <li du-scrollspy="agenda">
          <a href="/#agenda" du-smooth-scroll>Agenda</a>
        </li>
        <li>
          <a href="" ng-click="openContactForm()">Entre em Contato</a>
        </li>
        <li du-scrollspy="localizacao">
          <a href="/#localizacao" du-smooth-scroll offset="50">Localização</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
