<ent-header></ent-header>

<section id="conheca">
    <div class="container">
        <div class="col-lg-10 col-lg-offset-1 text-center">
            <span class="pre-header">espaço</span>
            <h2>NOVO TEMPO</h2>

            <hr class="small">

            <p>O Espaço Novo Tempo Guabirotuba é um ministério da Igreja Adventista do Sétimo-dia. Forma um distrito junto com a Igreja Central de Curitiba, no território da Associação Sul-Paranaense da IASD.</p>
            <p>O Espaço tem como objetivo tornar-se um “centro de influência” para impactar a comunidade com o serviço ativo e voluntário de seus membros, tanto ministrando às necessidades sociais como fornecendo educação em várias esferas, e desenvolvendo um saudável relacionamento cristão, tendo em vista a edificação das pessoas e da comunidade com o amor em ação (EGW, Benef. Social, págs. 281 e 60).</p>
            <p>Entendemos que costumes e tradições mudam conforme o tempo ou o local, mas as necessidades das pessoas ainda só podem ser preenchidas ao receberem a imutável Palavra de Deus (Isaías 40:8).</p>
            <p>Assim, em pleno século XXI, numa sociedade pós-moderna de verdades relativas, ceticismo crescente e rejeição de instituições,  aceitamos o desafio de proclamar o Evangelho Eterno e a breve intervenção gloriosa de Deus quando, de acordo com as Escrituras, “todas as coisas serão restauradas” (Apoc. 14:6; Atos 3:21).</p>

            <a href="#" class="btn btn-default btn-lg">Saiba Mais</a>
        </div>
    </div>
</section>

<section id="servicos" class="bg-primary">
    <div class="container">
        <div class="col-sm-4">
            <div class="service-item text-center">
                <h3>Pôr do Sol</h3>
                <ent-por-do-sol></ent-por-do-sol>
            </div>
        </div>

        <hr class="small visible-xs">

        <div class="col-sm-8">
            <div class="service-item">
                <div class="container-fluid">
                    <h3><i class="fa fa-file-text"></i> Notícias</h3>
                    <div class="row">
                        <div class="col-md-4" ng-repeat="post in posts | orderBy:'-date' | limitTo:3">
                            <h4><a href="/{{ post.slug }}">{{ post.title }}</a></h4>
                            <p>{{ post.excerpt }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="agenda">
    <div class="container">
        <div class="text-center">
            <h2>Próximos Eventos</h2>

            <hr class="small">

            <div class="events">
                <slick slides-to-show="4" slides-to-scroll="1" draggable="false" infinite="false" responsive="breakpoints" init-onload="false" data="events">
                    <div ng-repeat="event in events | orderBy:'timestamp'">
                        <div class="event" ng-class-odd="'primary'">
                            <div class="event-header">
                                <span class="event-date">{{ event.timestamp | date:'dd' }}</span>
                                <span class="event-month">{{ event.timestamp | date:'MMM' }}</span>
                            </div>
                            <div class="event-body">
                                <h4 class="event-title">{{ event.title }}</h4>
                                <p><i class="fa fa-map-marker"></i> {{ event.place }}</p>
                                <p><i class="fa fa-clock-o"></i> {{ event.timestamp | date:'HH:mm' }}</p>
                            </div>
                        </div>
                    </div>
                </slick>
            </div>
        </div>
    </div>
</section>

<section id="localizacao">
  <map center="-25.4608582,-49.2480999" zoom="17" scrollwheel="false">
    <marker id="marker-ent" position="-25.4608582, -49.2480999" title="Espaço Novo Tempo" icon="/assets/images/ent-48x48.png"></marker>
    <info-window position="-25.4608582, -49.2480999" visible-on-marker="marker-ent">
      <div ng-non-bindable="">
        <strong>Espaço Novo Tempo</strong><br/>
        Av. Sen. Salgado Filho, 961-A<br/>
        Guabirotuba - Curitiba, PR
      </div>
    </info-window>
  </map>
</section>
