$fa-font-path: "../../bower_components/font-awesome/fonts";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    font-weight: 700;
}

.list-unstyled {
    color: #fff;
}

.text-muted {
    color: #fff;
}

/* Custom Button Styles */
.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */
hr.small {
    max-width: 100px;
}

hr {
  border-top: 1px solid #333333;
}

.bg-primary {
  a {
    color: white;
  }

  hr {
    border-top: 1px solid #eeeeee;
  }
}

.icon {
  display: inline-block;
}

@font-face {
	font-family: 'Logo';
	src:url('/assets/fonts/Logo.eot?ybw4k0');
	src:url('/assets/fonts/Logo.eot?#iefixybw4k0') format('embedded-opentype'),
		url('/assets/fonts/Logo.ttf?ybw4k0') format('truetype'),
		url('/assets/fonts/Logo.woff?ybw4k0') format('woff'),
		url('/assets/fonts/Logo.svg?ybw4k0#Logo') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="logo-"], [class*=" logo-"] {
	font-family: 'Logo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.logo-sunset:before {
	content: "\e603";
}
.logo-ent:before {
	content: "\e600";
}
.logo-iasd:before {
	content: "\e601";
}
.logo-iasd-wide:before {
	content: "\e602";
}

.fa-stack-1x {
  line-height: inherit !important;
}

.noresize {
  resize: none;
}

.vresize {
  resize: vertical;
}

.hresize {
  resize: horizontal;
}

.bg-primary {
  background-color: #2957A4;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
